*{
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}


.nav{
    width: 100%;
    height: 20%;
    background-color: chocolate;
    border-bottom: solid 2px white;
}

.header{
    display: flex;
    gap: 20px;
    align-items: center
}


.midnightLogo{
    width: 200px;
    height: auto;
    padding: 0;
    transition: ease-in-out 0.3s;
    border-right: solid 3px white;
    margin-right: 10px;
}


.midnightLogo:hover{
    transform: scale(1.2);
}


.khremiz{
    color: white;
    font-weight: bold;
    font-size: 70px;
    margin-bottom: 0px;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}

.khremiz:hover{
   transform: scale(1.2);
   color: black;
}

.khrem:hover{
    transform: scale(1.1);
    color: black;
}


.khrem{
    color: white;
    margin-top: -10px;
    font-size: 25px;
    overflow: hidden;
    position: relative;
    transition: transform 0.5s ease-in-out;
}

@keyframes slideUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-160%);
        opacity: 0;
    }
}

#midnightTxt{
    color: black;
}

.menu {
    width: 500px;
    float: left;
    height: 100px;
    margin-left: 3em;
}

.menu ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.menu ul li {
    list-style: none;
    font-size: 25px;
    transition: ease-in-out 0.3s;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: ease-in-out 0.22s;
}


.menu ul li:hover {
    transform: scale(1.1);
}

.menu ul li a:hover{
    color: black;
}

.search{
    width: 500px;
    float: left;
    margin-left: 100px;
}

.srch {
    font-family: 'Times New Roman', Times, serif;
    width: 230px;
    height: 40px;
    background: black;
    border: 1px solid white;
    margin-bottom: 40px;
    color: chocolate;
    border-right: none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    
    font-size: 20px;
}

.button {
    width: 100px;
    height: 40px;
    border: 2px solid white;
    font-size: 20px;
    background-color: black;
    color: white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: -5px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.button:hover{
    transform: scale(1.1)
}

figure {
    position: relative;
    width: 100%;
    height: 450px;
    background: url(media/coffee1.jpeg);
    background-size: cover;
    background-position: 30% 70%;
}

.lol{
    top: 30%;
    left: 2%;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 3.5em;
    letter-spacing: 5px;
    word-spacing: 1px;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
    position: relative;
    transition: transform 0.5s ease-in-out;
}

@keyframes slideUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-160%);
        opacity: 0;
    }
}

#greatness{
    color: chocolate;
}

#join{
    color: white;
    background-color: transparent;
    text-decoration: none;
    width: 200px;
    height: 100px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 4em;
    margin-left: 1em;
    transition: ease-in-out 0.3s;
    font-family: 'Times New Roman', Times, serif;
}

#join:hover{
    transform: scale(1.1);
    color: chocolate;
    background-color: rgba(0, 0, 0, 0.7);
}

.kpftw{
    color: white;
    width: 70%;
    margin-bottom: 2em;
    position: absolute;
    left: 0%;
}

.kk{
    width: 100%;
    height: 150px;
    background: url(media/img/coffee2.jpeg);
    background-position: 10% 40%;
    text-shadow:  2px 2px 4px rgba(0, 0, 0, 0.7);
}

.Coffee{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: 2em;
    margin-bottom: 2em;
    color: chocolate;
}
.coffee-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap if necessary */
    gap: 2em; /* Adds spacing between items */
    justify-content: center; /* Center-align items */
    
}



#pumpkin-container, #icedcoffee-container, .teag ,.cappp{
    position: relative;
    background-color: #f7e1c1; /* Set your desired background color */
    border-radius: 1em; /* Optional for rounded corners */
    padding: 0.5em; /* Add padding around the image */
    display: inline-block; /* Make the container shrink to fit content */
    width: fit-content; /* Ensure it wraps the image tightly */
    transition: ease-in-out 0.3s;
}

#pumpkin-container:hover, #icedcoffee-container:hover, .teag:hover,.cappp:hover{
    transform: scale(1.1);
    background-color: #d2b281;
}

#pumpkin-container, .teag {
    float: left;
    margin-left: 2em;
    margin-bottom: 0em;
    display: flex;
}

#pumpkin-container p, .teag p{
    font-size: 20px;
    text-align: left;
}

#pumpkin{
    border-radius: 1em;
    height: 300px;
    width: 300px;
    float: left;
    margin-left: 5em;
}


#icedcoffee-container, .cappp{
    float: right;
    margin-right: 2em;
    margin-bottom: 1em;
    display: flex;
}

#icedcoffee-container p , .cappp p {
    font-size: 20px;
    text-align: right;
}

#icedcoffee{
    border-radius: 1em;
    height: 300px;
    width: 300px;
    float: right;
    margin-right: 5em;
}

#greentea{
    border-radius: 1em;
    height: 300px;
    width: 300px;
    float: left;
    margin-left: 5em;
}

#capp{
    border-radius: 1em;
    height: 300px;
    width: 300px;
    float: right;
    margin-right: 5em;
}

.cofe{
    background: url(media/img/randomcoffee1.jpeg);
    background-position: 30% 70%;
    padding: 1em;
    
}

.thome{
    margin-bottom: 1em;
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    top: 30%;
    left: 16.3%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 3.5em;
    letter-spacing: 5px;
    word-spacing: 1px;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    
}

#coffeeBags{
    display: flex;
    justify-content: center;
    overflow: hidden;
    transform: translateZ(0);

}


.image-container{
    display: inline-block;
    text-align: center;
}

#khremkin, #ikk , #khremizTD{
    height: 325px;
    width: 325px;
    margin-left: 4em;
    display: block;
    margin-bottom: 1.5em;
    transition: ease-in-out 0.3s;
    will-change: transform;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}



#khremkin:hover, #ikk:hover , #khremizTD:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

.hi{
    width: 300px;
    height: 50px;
    background-color: chocolate;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 5em;
    transition: ease-in-out 0.3s;
    color: white;
}

.hi:hover{
    transform: scale(1.1);
    background-color: black;
    color: chocolate;
}


footer{
    width: 100%;
    background-color: chocolate;
    text-align: center;
    display: flex;
    padding: 1em;

}

.foter{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    padding-bottom: 10px;
    margin-right: 1em;
  
}


.flink:hover {
    color: black;
}


.flink {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.caked{
    background: url(media/img/caked1.jpeg);
    height: 350px;
    width: 100%;
    background-position: 50% 80%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.jon{
    color: white;
    font-size: 70px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    left: 7%; 
    top: 3%;
    overflow: hidden;
    position: absolute;
    letter-spacing: 6px;
    text-align: left;

}

.deserts{
    display: flex;
    padding: 1.2em;
    background-color: black;
    margin-bottom: 3em;
}


.deserts img{
    width: 350px;
    height: 350px;
    margin-left: 7.3em;
    transition: ease-in-out 0.3s;
    border-radius: 10px;
}

.deserts img:hover{
    transform: scale(1.1);
}

.hii{
    width: 300px;
    height: 50px;
    background-color: chocolate;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 1.2em;
    margin-left: 10.6em;
    transition: ease-in-out 0.3s;
    color: white;
}

.hii:hover{
    transform: scale(1.1);
    background-color: black;
    color: chocolate;
}

.dessertheading{
    color: white;
    margin-left: 5em;
    margin-bottom: 0.8em;
}

#desback{
    background: black;
}





